.updatePage {
  background-color: rgb(230, 229, 229);
  height: 100vh;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px auto;
  background-color: #fff;
  width: fit-content;
  padding: 30px;
  border-radius: 10px;
}

.update section {
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.update section input {
  background-color: rgb(230, 229, 229);
  border: 1px gray solid;
  height: 35px;
  width: 400px;
  border-radius: 5px;
}

.update #title {
  font-size: large;
}

.update textarea {
  width: 400px;
  height: 300px;
  padding: 12px 10px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.update button {
  background-color: rgb(7, 189, 89);
  color: #fff;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  font-size: large;
  cursor: pointer;
}
