.postPage {
  width: 60vw;
  margin: 50px auto;
}

.category {
  color: rgb(16, 16, 167);
  font-weight: 600;
}

.postPage .title {
  margin: 20px 0;
  font-size: 3rem;
}

.postPage .body {
  font-size: 1.5rem;
  line-height: 40px;
}

.postImg {
  width: 60vw;
  margin: 20px auto;
  background-attachment: red;
  justify-content: center;
  display: flex;
  height: 30rem;
  object-fit: cover;
}

@media screen and (max-width: 900px) {
  .postPage {
    width: 80vw;
    flex-wrap: wrap;
  }
}
